.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 22px;
  gap: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.page-title {
  font-family: 'Oswald';
}
