/* You can add global styles to this file, and also import other style files */
$background-color: #333333;
$title-color: #e9509a;

.main-container {
  background-color: $background-color;
  height: 100vh;
}

h1 {
  margin: 0;
}

.page-title {
  color: $title-color;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  color: rgba($color: #fff, $alpha: 0.9);
}
